#### Predict your scores better :)
As you saw in the previous simple linear regression task that previous year grades (G2) have significant correlation with third year grades (G3). But G2 is not direct causation of G3, there are many factors which determine G3. Let's add few more variables which may help to determine G3.

### Multiple linear regression
Multiple linear regression is simply the linear regression extended to problems where the dependent or output variable is determined by more than one independent variable.<br>

#####  $\hat{y}$ (w, x) = w_0 + w_1 * x_1 + ... + w_p * x_ps

#### Dataset
The dataset is available at __"data/multiple_linear_data.csv"__ in the respective challenge's repo.<br><br>

This is the __modified version__ of the dataset *'Student Performance'* provided by UCI Machine Learning repository.<br>
Original dataset: https://archive.ics.uci.edu/ml/datasets/student+performance

#### Features (X)
1. age - student's age (numeric: from 15 to 22)
2. address - student's home address type (binary: 'U' - urban or 'R' - rural)
3. famsize - family size (binary: 'LE3' - less or equal to 3 or 'GT3' - greater than 3)
4. reason - reason to choose this school (nominal: close to 'home', school 'reputation', 'course' preference or 'other')
5. studytime - weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)
6. failures - number of past class failures (numeric: n if 1<=n<3, else 4)
7. schoolsup - extra educational support (binary: yes or no)
8. famsup - family educational support (binary: yes or no)
9. paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)
10. activities - extra-curricular activities (binary: yes or no)
11. higher - wants to take higher education (binary: yes or no)
12. internet - Internet access at home (binary: yes or no)
13. romantic - with a romantic relationship (binary: yes or no)
14. freetime - free time after school (numeric: from 1 - very low to 5 - very high)
15. goout - going out with friends (numeric: from 1 - very low to 5 - very high)
16. health - current health status (numeric: from 1 - very bad to 5 - very good)
17. absences - number of school absences (numeric: from 0 to 93)
18. G1 - first year math grades (numeric: from 0 to 100)
19. G2 - second year math grades (numeric: from 0 to 100)

#### Output target (Y) 
20. G3 - final year math grades (numeric: from 0 to 100, output target)

#### Objective
To learn multiple linear regression and practice handling categorical features

#### Tasks
- To load the data and print first 5 rows
- Transform categorical features into numerical features. Use either one hot encoding, label encoding or any other suitable preprocessing technique.
- Define X matrix (independent features) and y vector (target feature)
- Train Linear Regression Model (sklearn.linear_model.LinearRegression class)
- Print 'Mean Squared Error' (MSE) obtained on the same dataset i.e. same X and y (sklearn.metrics.mean_squared_error function)
- Predict on a numpy array defined by you
```python
>>> new_data = np.array([1,0,1,.....,30,20]).reshape(1,-1)
>>> print("Predicted grade:",model.predict(new_data))
```

#### Further fun (will not be evaluated)
- Train LassoRegression and RidgeRegression as well. Read about them from scikit-learn user guide.
- *Step-up challenge*: Get down the MSE (mean squared error) below 3.25 using linear models
- Implement multiple linear regression from scratch
- Plot loss curve (Loss vs number of iterations)

#### Helpful links
- Scikit-learn documentation for linear regression: https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html
- Read till where you feel comfortable: https://jakevdp.github.io/PythonDataScienceHandbook/05.06-linear-regression.html
- Use slack for doubts: https://join.slack.com/t/deepconnectai/shared_invite/zt-givlfnf6-~cn3SQ43k0BGDrG9_YOn4g

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# IF sklearn.compose.ColumnTransformer is used for feature transformation, then below import will help to infer features
# from helper.utils import get_column_names_from_ColumnTransformer

In [33]:
# NOTE: DO NOT CHANGE THE VARIABLE NAME(S) IN THIS CELL
# Load the data
data = pd.read_csv("data/multiple_linear_data.csv")

In [34]:
# You may need original list of columns to interpret the features after transformation, maybe
orig_cols = data.columns

In [35]:
# Handle categorical values
data.head()

,age,address,famsize,reason,studytime,failures,schoolsup,famsup,paid,activities,higher,internet,romantic,freetime,goout,health,absences,G1,G2,G3
0,18,U,GT3,course,2,0,yes,no,no,no,yes,no,no,3,4,3,6,25,30,30
1,17,U,GT3,course,2,0,no,yes,no,no,yes,yes,no,3,3,3,4,25,25,30
2,15,U,LE3,other,2,3,yes,no,yes,no,yes,yes,no,3,2,3,10,35,40,50
3,15,U,GT3,home,3,0,no,yes,yes,yes,yes,yes,yes,2,2,5,2,75,70,75
4,16,U,GT3,home,2,0,no,yes,yes,no,yes,no,no,3,2,5,4,30,50,50

In [36]:
orig_cols

Index(['age', 'address', 'famsize', 'reason', 'studytime', 'failures',
       'schoolsup', 'famsup', 'paid', 'activities', 'higher', 'internet',
       'romantic', 'freetime', 'goout', 'health', 'absences', 'G1', 'G2',
       'G3'],
      dtype='object')

In [37]:
categorical = data.select_dtypes(exclude=[np.number])
print(categorical.columns)

Index(['address', 'famsize', 'reason', 'schoolsup', 'famsup', 'paid',
       'activities', 'higher', 'internet', 'romantic'],
      dtype='object')

In [38]:
for i in categorical.columns:
    data[i] = pd.get_dummies(data[i] , drop_first=True)

In [39]:
data.head()

,age,address,famsize,reason,studytime,failures,schoolsup,famsup,paid,activities,higher,internet,romantic,freetime,goout,health,absences,G1,G2,G3
0,18,1,0,0,2,0,1,0,0,0,1,0,0,3,4,3,6,25,30,30
1,17,1,0,0,2,0,0,1,0,0,1,1,0,3,3,3,4,25,25,30
2,15,1,1,0,2,3,1,0,1,0,1,1,0,3,2,3,10,35,40,50
3,15,1,0,1,3,0,0,1,1,1,1,1,1,2,2,5,2,75,70,75
4,16,1,0,1,2,0,0,1,1,0,1,0,0,3,2,5,4,30,50,50

In [41]:
# Define your X and y
X = data.drop(['G3'],axis=1)
y = data.G3

In [42]:
# Initialize the model
model = LinearRegression()

In [43]:
# Fit the model. Wait! We will complete this step for you ;)
model.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [45]:
# Print mean squared error
predictions = model.predict(X)
mse = mean_squared_error(predictions,y)
print(f"\nMSE: {mse}")

MSE: 85.43978594111823

In [51]:
# Predict on your own data
new_data = data[300:].drop(['G3'],axis=1)
new_data.head()

,age,address,famsize,reason,studytime,failures,schoolsup,famsup,paid,activities,higher,internet,romantic,freetime,goout,health,absences,G1,G2
300,18,1,1,1,2,0,0,1,0,0,1,1,1,2,4,4,14,60,50
301,17,1,1,1,1,0,0,0,1,0,1,1,0,1,1,5,0,55,55
302,17,1,0,0,3,0,0,1,1,0,1,1,0,3,3,3,0,75,60
303,17,1,0,0,4,0,0,1,1,1,1,1,0,2,2,5,0,85,85
304,19,1,0,1,2,1,0,1,0,1,1,1,1,4,4,3,20,75,70

In [52]:
print("Predicted grade:",model.predict(new_data))

Predicted grade: [49.36009616 52.2149818  61.62876688 84.89203695 69.35252066 60.23819456
 91.4876673  47.69655941 58.61044383 52.11282894 35.08292894 60.76900072
 54.13270942 50.59421009 60.70129621 58.16003334 33.31729373 45.65070872
 52.91237071 55.36968593 68.92189561 44.66656129 52.39868485 69.36653009
 74.31976424 53.23417537 75.89765833 52.96109376 43.71295076 69.99157806
 36.49253434 69.49099167 -6.73555203 29.97678778 40.91304678 81.66347745
 66.60243293 31.8242047  74.4518767  46.53165955 51.49588552 41.97847074
 74.7472381  32.52710589 47.92539028 62.4794922  76.13657656 47.20506943
 71.61686389 67.03379462 27.61234503 67.09707055 29.2993857  35.90234561
 53.30237047 42.41023474 64.68620408 58.91834191 44.94720105 82.34499757
 64.74951247 58.40779994 50.51774371 74.00262235 54.082004   49.90959595
 62.30439963 22.53395749 47.3832506  61.7996772  22.85187692 58.46908433
 52.16018459 22.79188162 93.11182927 33.72369683 66.9416869  40.38938349
 70.61466638 51.07070016 67.8603594  24.69255652 50.45519308 19.54535404
 22.55520468 43.70816211 20.44763191 16.93828658 39.72287194 15.92081022
 43.88319627 82.07571819 35.41411595 59.10593577 41.73085747]

In [58]:
print(data[300:].G3)

300    55
301    50
302    70
303    90
304    65
       ..
390    45
391    80
392    35
393    50
394    45
Name: G3, Length: 95, dtype: int64